.App {
  text-align: center;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
button{
  padding: 10px;
  border: none;
  background-color: chocolate;
  color: antiquewhite;
  border-radius: 7px;
  margin-top: 100px;
}
.Quote{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 300px;
  height: 400px;
  letter-spacing: 0.5px;
}
h2{
  color: rgb(109, 11, 11);
}
body{
  background-color: antiquewhite;
}
